@mixin transition($time) {
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
}

.indicators {
  display: flex;
  justify-content: space-between;

  &_row {
    width: 100%;
  }

  &_title,
  &_value {
    background: rgba(255, 255, 255, 0.8);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &_value span {
    cursor: pointer;
    color: rgb(52, 64, 173);
    @include transition(0.3s);

    &:hover {
      color: rgb(189, 36, 36);
      @include transition(0.3s);
    }
  }
}

@media (max-width: "600px") {
  .indicators {
    &_title,
    &_value {
      padding: 10px;
      height: 75px;
      font-size: 12px;
    }
  }
}

@media (max-width: "400px") {
  .indicators {
    &_title,
    &_value {
      padding: 5px;
      height: 75px;
      font-size: 10px;
    }
  }
}
