.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

@media (max-width: "600px") {
  .table {
    font-size: 12px;
  }
}

@media (max-width: "400px") {
  .table {
    font-size: 10px;
  }
}
