@mixin transition($time) {
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
}

@mixin scale($number) {
  transform: scale($number);
  -webkit-transform: scale($number);
  -moz-transform: scale($number);
  -ms-transform: scale($number);
  -o-transform: scale($number);
}

.settings {
  height: 60px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  &_btns {
    display: flex;

    &_icon {
      margin: 0 10px;
      cursor: pointer;
      transition: 0.3s;
      @include transition(0.3s);

      &:hover {
        @include scale(1.05);
        @include transition(0.3s);
      }
    }
  }
}
