@mixin transition($time) {
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
}

.table {
  &_firstRow,
  &_secondRow,
  &_thirdRow,
  &_fourthRow {
    font-weight: 400;
    width: 25%;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
  }

  &_thirdRow {
    position: relative;
    & span {
      position: absolute;
      right: 10px;
    }
  }
  //костыль

  &_firstRow span {
    cursor: pointer;
    color: rgb(52, 64, 173);
    @include transition(0.3s);

    &:hover {
      color: rgb(189, 36, 36);
      @include transition(0.3s);
    }
  }
}

@media (max-width: "600px") {
  .table {
    &_firstRow,
    &_secondRow,
    &_thirdRow,
    &_fourthRow {
      padding: 15px 5px;
    }
  }
}
@media (max-width: "400px") {
  .table {
    &_thirdRow {
      & span {
        right: 0;
      }
    }
  }
}
