.block {
  width: 100%;
  padding: 10px;
  background: rgba(223, 215, 215, 0.5);
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    height: 40px;
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

@media (max-width: "600px") {
  .block {
    font-size: 12px;
    padding: 5px;
    margin: 6px 0;
  }
}

@media (max-width: "400px") {
  .block {
    &_btn {
      min-width: 30px;
      width: 30px;
      height: 30px;
    }
  }
}
